{% extends "layout.html" %}
{% block title %}
ai1 Home Page
{% endblock %}
{% block content %}
<div class="grid-cols-3 gap-4  m-4 md:grid">
    {% for chai in chais %}
       <div class="bg-amber-900 chai-item">
        <img src="{{chai.image.url}}" alt="Chai Image" class="w-full h-64 object-cover rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mt-4">{{ chai.name }}</h2>
        <p class="text-gray-600 mt-2">{{ chai.description }}</p>
        <a href="{% url 'details' chai.id %}" class="text-amber-600 mt-4 inline-block">
            <button
            type="button"
            class="inline-flex items-center w-[100%] justify-center px-4
            py-2 border border-transparent text-sm font-medium
            rounded-md Itext-white
            bg-orange-600
            hover:bg-black  
            focus:outline-none focus:ring-2 focus:ring-offset-2
            focus:ring-orange-500">
                {{ chai.type }}-{{ chai.id }}
            </button>
        </a>
           
       
       </div>
    {% endfor  %}
</div>
<h1 class="bg-amber-50">Nothing to Code<h1>
{% endblock %}

