{% extends "layout.html" %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
<h1 class="bg-red-500 text-center text-5xl" >Welcome to the Home Page</h1>
<h2>This is a subheading</h2>
<hr><table class="bg-orange-500 text-amber-50 text-center">hi
    <tr>
        <td>Row 1, Cell 1</td>
        <td>Row 1, Cell 2</td>
    </tr>
    <tr>
        <td>Row 2, Cell 1</td>
        <td>Row 2, Cell 2</td>
    </tr>                


</table>
<p class="bg-blue-400 text-3xl">This is the main content of the home page.</p>
{% endblock %}